@charset "utf-8";
/* CSS Document */


.herramientas {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #3B7DE8;
	font-size: 2.3em;
	margin-bottom: 15px;
}

.aling-right {
	text-align: right;
}

.thumbnail-herramientas {
	border: none;
}

.img-herramientas {
	margin-top: 10px;
	width: 150px;
}

.otras-herramientas {
	width: 50%;
	margin-bottom: 10px;
}

.main-slider {
	margin-top: 90px;
	margin-bottom: -90px;
}

